<config>
    <tabs>
        <apilogger_config translate="label" module="empewe_apilogger">
            <label>EmPeWe</label>
            <sort_order>99999</sort_order>
        </apilogger_config>
    </tabs>
    <sections>
        <apilogger_options translate="label" module="empewe_apilogger">
            <label>SOAP ApiLogger</label>
            <tab>apilogger_config</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <config translate="label">
                    <label>Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <apilogger_v1_log_active translate="label">
                            <label>Activate Logging (v1):</label>
                            <comment>Don't forget to deactivate before going live!</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </apilogger_v1_log_active>
                        <apilogger_v1_log_file translate="label">
                            <label>Log filename (v1):</label>
                            <comment>Default is EmPeWe_ApiLogger.log</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </apilogger_v1_log_file>
                        <apilogger_v2_log_active translate="label">
                            <label>Activate Logging (v2):</label>
                            <comment>Don't forget to deactivate before going live!</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </apilogger_v2_log_active>
                        <apilogger_v2_log_file translate="label">
                            <label>Log filename (v2):</label>
                            <comment>Default is EmPeWe_ApiLogger.log</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </apilogger_v2_log_file>
                    </fields>
                </config>
            </groups>
        </apilogger_options>
    </sections>
</config>